* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
}
.fa-solid {
  cursor: pointer;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #212529;
  color: white;
  padding: 25px 60px;
  max-width: 1080px;
  margin: 0 auto;
}
.cart {
  background-color: #fff;
  color: #212529;
  font-size: 30px;
  padding: 5px;
  border-radius: 5px;
  position: relative;
}
.cartAmount {
  font-size: 16px;
  background-color: red;
  color: #fff;
  position: absolute;
  top: -15px;
  right: -10px;
  padding: 3px;
  border-radius: 3px;
}
.buttons > span {
  cursor: pointer;
}

img {
  width: 200px;
  height: 300px;
}


.shop {
  display: flex;
  flex-wrap: wrap;
  max-width: 1080px;
  margin: 0 auto;
  gap: 20px;
}

.item {
  flex-basis: 200px;
}

.text-center {
  text-align: center;
  margin-bottom: 20px;
}
.HomeBtn,
.checkout,
.removeAll {
  background-color: #212529;
  color: white;
  border: none;
  padding: 6px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

.shopping-cart {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1080px;
  gap: 20px;
}
@media (max-width: 600px) {
  .shop,
  .shopping-cart {
    display: flex;
    width: 100%;

    justify-content: flex-start;
  }
}
